*{
	margin:0;
	padding: 0;
}

body{
	background-color: #eeeeee;
}

.container{
	width: 1000px;
	height: 450px;
	margin:60px auto;
	position: relative;
}

.container img{
	padding: 10px 10px 15px ;
	background:white;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 3px rgba(50,50,50,0.4);
}

.pic{
	width: 200px;
	margin-right: 1%;
}

.container>img:hover{
	  opacity:0.6;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图像墙</title>
<link  type="text/css" href="style.css"  rel="stylesheet">
</head>
<body>
<div class="container">
<img class="pic pic0" src="img/0.jpg" >
<img class="pic pic1" src="img/1.jpg" >
<img class="pic pic2" src="img/2.jpg" >
<img class="pic pic3" src="img/3.jpg" >
<img class="pic pic4" src="img/4.jpg" >
<img class="pic pic5" src="img/5.jpg" >
<img class="pic pic6" src="img/6.jpg" >
<img class="pic pic7" src="img/7.jpg" >
</div>
</body>
</html>
